* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: rgb(227, 242, 255);
}

header>svg {
    height: 30px;
    width: 30px;
    color: rgb(20, 109, 187);
}

h1 {
    color: rgb(20, 109, 187);
}

.contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    margin: 5em;
}

#agregar, #borrarUno, #clear {
    position: absolute;
    right: 50px;
    padding: 7px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .4);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    font-size: large;
    transition: all .1s linear;
}

#agregar {
    bottom: 150px;
    background-color: rgb(205, 250, 171);
    color: rgb(41, 136, 4);
}

#borrarUno {
    bottom: 100px;
    background-color: rgb(255, 231, 207);
    color: rgb(202, 99, 20);
}

#clear {
    bottom: 50px;
    background-color: rgb(243, 213, 223);
    color: rgb(164, 47, 84);
}


#agregar:hover, #borrarUno:hover, #clear:hover {
    box-shadow: 0px 5px 15px -5px black;
    transition: all .1s linear;
}

#agregar:active, #borrarUno:active,#clear:active {
    transition: none;
    box-shadow: 0px 1px 3px black;
}